*,
*::before,
*::after {
  /* color: rgb(240, 238, 238); */
  font-family:
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  background: none;
  text-decoration: none;
  background-repeat: no-repeat;
  text-align: center;
  list-style-type: none;
}

body {
  margin: 0;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
}

#mobileMenuButton {
  width: 50px;
  margin-bottom: 2rem;
  align-self: flex-start;
}

h1 {
  font-size: xx-large;
}

h2 {
  font-weight: normal;
}

h3 {
  color: #ec5242 !important;
}

p {
  line-height: 1.8rem;
}

a {
  color: unset;
}

img {
  margin: 0.5rem;
}

button {
  padding: 1.2rem;
  margin: 1rem;
  background-color: #ec5242;
}

footer {
  justify-content: center;
}

footer * {
  margin: 2rem;
  text-align: left;
  font-size: 0.85rem;
}

footer img {
  width: 35%;
  max-width: 200px;
}

.flexRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: unset;
}

.spacer {
  width: 53px;
  height: 16px;
  border-top: 1px solid #ef513c;
}

.head * {
  color: #ec5242;
}

.head a p {
  font-size: x-large;
  margin-bottom: 0.5rem;
  font-weight: 300;
}

header {
  display: none;
}

.mobileMenu {
  display: flex;
  justify-content: center;
  text-align: center;
  border-bottom: 1px solid #646369;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: whitesmoke;
}

.mobileMenu * {
  color: #ec5242;
  font-size: larger;
  font-weight: 900;
  margin: unset;
}

.mobileMenu ul {
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.mobileMenu ul li a {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

#top {
  flex-wrap: nowrap;
  justify-content: flex-end;
  background: #272a31;
}

#top * {
  margin: 1rem;
  color: whitesmoke;
}

#top img {
  height: 25px;
}

#nav {
  justify-content: space-around;
}

#logo {
  margin-right: 15%;
}

#nav button {
  border: solid 3px #ec5242;
  color: #ec5242;
  background: none;
  margin: 1rem;
  padding: 1rem;
}

#hero {
  background: url(media/mobile_intro_bg.png);
  padding-bottom: 10%;
}

#hero p {
  margin-top: 7%;
}

#hero article {
  background: white;
  padding: 1.5rem;
  border: 1px solid #dfdfdf;
}

#hero article p {
  margin: 0;
}

#logoSection {
  border-bottom: 1px solid #dfdfdf;
}

#logoSection img {
  width: 95%;
  max-width: 700px;
}

#partners {
  background: #2e2e2e;
}

#partners h2 {
  color: whitesmoke;
}

#partners img {
  width: 25%;
}

#pastLinks img {
  width: 90%;
  max-width: 455px;
}

#pastLinks img:hover {
  filter: grayscale(1);
  transition: 0.15s ease-in-out;
}

#CCKW {
  display: none;
}

@media screen and (max-device-width: 496px) {
  .flexRow {
    flex-direction: column;
  }

  footer * {
    margin: 0.5rem;
    font-size: 0.6rem;
  }

  footer img {
    width: 80%;
  }
}

@media screen and (min-device-width: 768px) {
  header {
    display: flex;
    flex-direction: column;
  }

  #mobileMenuButton {
    display: none;
  }

  #hero {
    background: url(media/about_bg_01.png) whitesmoke;
    background-size: 100vw;
  }

  h1 {
    font-size: 3rem;
  }

  #activities {
    display: flex;
    flex-direction: row;
  }

  #program button {
    display: none;
  }

  #program a {
    display: inline-block;
  }

  .activity {
    flex-direction: column;
  }

  .activity * {
    margin: 0.3rem;
  }

  #speakers button {
    display: none;
  }

  #partners {
    display: none;
  }

  #pastLinks {
    display: flex;
    justify-content: center;
    padding: 1rem;
  }

  #pastLinks img {
    width: 45%;
  }

  footer {
    display: flex;
    align-items: center;
    background: #2e2e2e;
    color: whitesmoke;
  }

  #CCKB {
    display: none;
  }

  #CCKW {
    display: inline-block;
  }
}
